.nav {
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  min-height: 100px;
  p {
    margin-bottom: 0;
  }

  .timer {
    border-top: 1px solid var(--bg-color-secondary);
    border-bottom: 1px solid var(--bg-color-secondary);
  }
}

@media (min-width: 1028px) {
  .nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 576px) {
  .nav {
    padding-left: 20px;
    padding-right: 20px;
    flex-wrap: wrap;
    .nav-logo {
      margin: 0 auto;
      text-align: center;
    }
  }
}
